@{
    ViewData["Title"] = "Coordenadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="col-md-12">

        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-12">
                        <h3 class="panel-title">Servicios Adiccionales - Afiliar productos y servicios</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-inline">
                    <span>Bienvenido(a): </span>
                    <label class="text-uppercase">@ViewData["NombreUnido"]</label>
                    <label class="pull-right">@DateTime.Now.ToString()</label>
                </div>

                <br />

                <div id="Pass1" class="col-sm-offset-4 col-sm-4">

                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-xs-12">
                                    <h3 class="panel-title">Validar Coordenadas</h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-12">

                                    <br />
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-form-label">Verifique que el serial de su tarjeta de seguridad sea el numero ****503</label>
                                    </div>
                                    <div class="col-sm-12 form-group row">
                                        <span> Si el número mostrado es igual al serial de su tarjeta, por favor introduzca las coordenadas solicitadas a continuación</span>
                                    </div>

                                    <br />
                                    <br />
                                    <div class="row" style="text-align: center;">
                                        <div class="col-sm-offset-3">

                                            <div class="col-lg-4">
                                                <div class="row form-group">
                                                    <label>X1</label>
                                                    <input type="password" id="Coordenada1" name="Coordenada1" maxlength="2" class="form-control" style="width:95%;text-align:center" required />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="row form-group">
                                                    <label>X2</label>
                                                    <input type="password" id="Coordenada2" name="Coordenada2" maxlength="2" class="form-control" style="width:95%;text-align:center" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="row">

                                        <div class="col-lg-12" style="text-align: center;">

                                            <div>
                                                @*<button type="button" id="btnRegresar" class="btn btn-success"> Regresar</button>*@
                                                <button type="submit" id="btnCalcular" class="btn btn-primary">Aceptar</button>

                                                <a class="btn btn-primary" href="@Url.Action("Index")">Cancelar</a>
                                                @*<button type="button" id="btnCancelar2" class="btn btn-danger"> Cancelar</button>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}